
* {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
}
button {
  padding: 0px;
  width: 350px;
  min-height: 150px;
  border: 0;
  outline: 0;
  font-size: 28px;
  color: white;
  background: #ee0979;
  background: linear-gradient(to right, #ee0979, #ff6a00);
  vertical-align: top;
}